<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.bug.goods.dao.ProductDao">
    <!--获取产品-->
    <select id="getProduct" parameterType="long" resultType="product">
        select id, product_name as productName, stock, price, version, note
        from T_Product
        where id = #{id} for update
    </select>

    <!--减库存-->
    <update id="decreaseProduct">
        update T_Product
        set stock = stock - #{quantity}
        where id = #{id}
    </update>
</mapper>
